/*
Each card should take up 30% of the width of the browser window.
The entire card has a solid 1px border that is lightblue.
The card title has a dotted 1px border that is lightgray.
The title and product image are centered.
Notice that the text for the description in the image is justified.
The text for the product specification details and pricing details is bold.
The availability element extends the full width of the card, with a dark grey background and yellow text.*/

#main-content {
	max-width: 980px;
	margin: 0 auto;
}

article.card {
	float: left;
	width: 30%;
	border: 1px solid lightblue;
}
article > header {
	border: 1px dotted lightgrey;
}